In [28]:
#steps
# 1. Preprocess + EDA + Feature Selection
# 2. Scale the values 
# 3. Split data into train and test
# 4. Train the model
# 5. Evaluate the model/model selection
# 6. Deploy the model

In [29]:
import numpy as np
import pandas as pd

In [30]:
df = pd.read_csv('placement.csv')

In [31]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [37]:
df.shape

(100, 4)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.3 KB

In [38]:
df  = df.iloc[:,1:]

In [39]:
df.head()

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0